nav{
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin-left: 20px;
    margin-top: 38px;
}


.logo{
 width: 180px;
 margin-right: 10px;
 height: 42px;   
}

.Menu{
    height: 55px;
    width: 57px;
    margin-left: 0px;
}
